    
        body{
            background-color: rgb(199, 171, 171);
        }
        input{
            margin-bottom: 18px;
           
        }
        header {
            background-color: darkred;
            font-size: 50px;
            color: cornsilk;
            font-style: inherit;
            font-family: Georgia;
            text-align: center;
            border-style: inset;
            border-color: rgb(165, 47, 65);
     
        }
        fieldset{
            background-color: rgb(237, 234, 240);
            border: rgb(145, 25, 25);
            border-style: double;
            margin-bottom: -10px;
            width: 50%;
            
                       
        }
        
        legend{
            color: rgb(145, 25, 25);

        }
        #idNomeAluno , #idRua , #idNumero , #idBairro , #idCidade{
            margin-right: 50px;
        }
        .clNome{
            display: flex;
        }
        .clNome label {
            display: inline;
        }
        .clNome input{
            display: block;
            width: 100%;

        }
        button{
            margin-top: 40px;
            background-color: rgb(145, 25, 25);
            color: rgb(237, 234, 240);
        }

